:root {
  --cg-hex-dark: #263545;
  --cg-hex-grey-dark: #364a5e;
  --cg-hex-grey-medium: #47607b;
  --cg-hex-grey-light: #7089a2;
  --cg-hex-pale-dark: #9eafc0;
  --cg-hex-pale-medium: #b8c3d0;
  --cg-hex-pale-light: #cfd7df;
  --cg-hex-twilight-dark: #e7ebef;
  --cg-hex-twilight-medium: #f2f4f7;
  --cg-hex-twilight-light: #fafbfc;
  --cg-rgba-dark: rgba(0, 0, 0, 0.8);
  --cg-rgba-grey-dark: rgba(0, 0, 0, 0.72);
  --cg-rgba-grey-medium: rgba(0, 0, 0, 0.64);
  --cg-rgba-grey-light: rgba(0, 0, 0, 0.48);
  --cg-rgba-pale-dark: rgba(0, 0, 0, 0.32);
  --cg-rgba-pale-medium: rgba(0, 0, 0, 0.24);
  --cg-rgba-pale-light: rgba(0, 0, 0, 0.16);
  --cg-rgba-twilight-dark: rgba(0, 0, 0, 0.08);
  --cg-rgba-twilight-light: rgba(0, 0, 0, 0.02);
  --cg-rgba-twilight-medium: rgba(0, 0, 0, 0.04);
  --cg-rgba-dark-dm: rgba(255, 255, 255, 0.8);
  --cg-rgba-grey-medium-dm: rgba(255, 255, 255, 0.64);
  --cg-rgba-grey-dark-dm: rgba(255, 255, 255, 0.72);
  --cg-rgba-grey-light-dm: rgba(255, 255, 255, 0.48);
  --cg-rgba-pale-dark-dm: rgba(255, 255, 255, 0.32);
  --cg-rgba-pale-medium-dm: rgba(255, 255, 255, 0.24);
  --cg-rgba-pale-light-dm: rgba(255, 255, 255, 0.16);
  --cg-rgba-twilight-dark-dm: rgba(255, 255, 255, 0.08);
  --cg-rgba-twilight-medium-dm: rgba(255, 255, 255, 0.04);
  --cg-rgba-twilight-light-dm: rgba(255, 255, 255, 0.02);
  --color-blue: #1588ff;
  --color-indigo: #5f5ce4;
  --color-green: #37ce5c;
  --color-orange: #fda015;
  --color-pink: #fc418d;
  --color-purple: #c461f6;
  --color-yellow: #ffd808;
  --color-red: #fc4b5b;
  --color-teal: #5dcfff;
  --color-blue-dm: #3a9bff;
  --color-green-dm: #57d576;
  --color-indigo-dm: #7876e8;
  --color-orange-dm: #fdaf3a;
  --color-purple-dm: #cd7af7;
  --color-pink-dm: #fc5f9f;
  --color-teal-dm: #77d6ff;
  --color-red-dm: #fc5d6b;
  --color-yellow-dm: #ffde2f;
  --topNavHeight: 58px;
  --mdStartMargin: 40px; }

html {
  --b-color: #33C3C2; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: center; }

* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

a {
  color: inherit;
  text-decoration: none; }

img {
  vertical-align: middle; }

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

html {
  font-size: 16px; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, PingFang SC, "Apple Color Emoji", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", sans-serif;
  color: var(--cg-hex-dark); }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin: 0.5em 0; }

h1 {
  font-size: 28px;
  font-weight: 500; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0.5em 0; }

img {
  max-width: 100%; }

rpgGoes {
  display: block;
  width: 100%; }
  rpgGoes cover {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    background-image: url("https://previews.123rf.com/images/sergfear/sergfear1712/sergfear171200119/91603944-vector-abstract-pink-pale-geometric-gradient-background-vector-from-polygons-triangle-vector-illustr.jpg");
    background-size: cover;
    overflow-y: scroll;
    padding: 24px 16px;
    padding-bottom: 40px; }
    rpgGoes cover selections {
      display: block; }
      rpgGoes cover selections selection {
        display: block;
        color: red;
        background-color: white; }
  rpgGoes turn {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("https://previews.123rf.com/images/sergfear/sergfear1712/sergfear171200119/91603944-vector-abstract-pink-pale-geometric-gradient-background-vector-from-polygons-triangle-vector-illustr.jpg");
    background-size: cover;
    overflow-y: scroll;
    padding: 24px 16px;
    padding-bottom: 40px; }
    rpgGoes turn selections {
      display: grid;
      margin: 2rem 0;
      grid-template-columns: 100%;
      grid-gap: 8px; }
      rpgGoes turn selections selection {
        box-shadow: 0 2px 8px var(--cg-rgba-twilight-dark), 0 1px 3px var(--cg-rgba-twilight-medium);
        border-radius: 16px;
        padding: 8px;
        color: var(--b-color);
        font-weight: 500;
        text-align: center;
        background-color: white; }
        rpgGoes turn selections selection img {
          border-radius: 8px;
          width: 100%; }
        rpgGoes turn selections selection.chosen {
          background-color: var(--b-color);
          border-color: var(--b-color);
          color: white; }
      rpgGoes turn selections.gallary {
        grid-template-columns: calc(50% - 4px) calc(50% - 4px); }
        rpgGoes turn selections.gallary selection img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
