:root {
  --cg-hex-dark: #263545;
  --cg-hex-grey-dark: #364a5e;
  --cg-hex-grey-medium: #47607b;
  --cg-hex-grey-light: #7089a2;
  --cg-hex-pale-dark: #9eafc0;
  --cg-hex-pale-medium: #b8c3d0;
  --cg-hex-pale-light: #cfd7df;
  --cg-hex-twilight-dark: #e7ebef;
  --cg-hex-twilight-medium: #f2f4f7;
  --cg-hex-twilight-light: #fafbfc;
  --cg-rgba-dark: rgba(0, 0, 0, 0.8);
  --cg-rgba-grey-dark: rgba(0, 0, 0, 0.72);
  --cg-rgba-grey-medium: rgba(0, 0, 0, 0.64);
  --cg-rgba-grey-light: rgba(0, 0, 0, 0.48);
  --cg-rgba-pale-dark: rgba(0, 0, 0, 0.32);
  --cg-rgba-pale-medium: rgba(0, 0, 0, 0.24);
  --cg-rgba-pale-light: rgba(0, 0, 0, 0.16);
  --cg-rgba-twilight-dark: rgba(0, 0, 0, 0.08);
  --cg-rgba-twilight-light: rgba(0, 0, 0, 0.02);
  --cg-rgba-twilight-medium: rgba(0, 0, 0, 0.04);
  --cg-rgba-dark-dm: rgba(255, 255, 255, 0.8);
  --cg-rgba-grey-medium-dm: rgba(255, 255, 255, 0.64);
  --cg-rgba-grey-dark-dm: rgba(255, 255, 255, 0.72);
  --cg-rgba-grey-light-dm: rgba(255, 255, 255, 0.48);
  --cg-rgba-pale-dark-dm: rgba(255, 255, 255, 0.32);
  --cg-rgba-pale-medium-dm: rgba(255, 255, 255, 0.24);
  --cg-rgba-pale-light-dm: rgba(255, 255, 255, 0.16);
  --cg-rgba-twilight-dark-dm: rgba(255, 255, 255, 0.08);
  --cg-rgba-twilight-medium-dm: rgba(255, 255, 255, 0.04);
  --cg-rgba-twilight-light-dm: rgba(255, 255, 255, 0.02);
  --color-blue: #1588ff;
  --color-indigo: #5f5ce4;
  --color-green: #37ce5c;
  --color-orange: #fda015;
  --color-pink: #fc418d;
  --color-purple: #c461f6;
  --color-yellow: #ffd808;
  --color-red: #fc4b5b;
  --color-teal: #5dcfff;
  --color-blue-dm: #3a9bff;
  --color-green-dm: #57d576;
  --color-indigo-dm: #7876e8;
  --color-orange-dm: #fdaf3a;
  --color-purple-dm: #cd7af7;
  --color-pink-dm: #fc5f9f;
  --color-teal-dm: #77d6ff;
  --color-red-dm: #fc5d6b;
  --color-yellow-dm: #ffde2f;
  --topNavHeight: 58px;
  --mdStartMargin: 40px; }

html {
  --b-color: #33C3C2; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: center; }

* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

a {
  color: inherit;
  text-decoration: none; }

img {
  vertical-align: middle; }

html {
  font-size: 16px; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, PingFang SC, "Apple Color Emoji", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", sans-serif;
  color: var(--cg-hex-dark); }

@font-face {
  font-family: 'tingoIcon';
  /* project id 2224648 */
  src: url("https://at.alicdn.com/t/font_2224648_b5c15nrtiym.eot");
  src: url("https://at.alicdn.com/t/font_2224648_b5c15nrtiym.eot?#iefix") format("embedded-opentype"), url("https://at.alicdn.com/t/font_2224648_b5c15nrtiym.woff2") format("woff2"), url("https://at.alicdn.com/t/font_2224648_b5c15nrtiym.woff") format("woff"), url("https://at.alicdn.com/t/font_2224648_b5c15nrtiym.ttf") format("truetype"), url("https://at.alicdn.com/t/font_2224648_b5c15nrtiym.svg#tingoIcon") format("svg"); }
.myIcon {
  font-family: "tingoIcon" !important;
  display: inline-block;
  text-align: center; }

html {
  scroll-behavior: smooth; }

html, body {
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin-top: 0.5em;
  margin-bottom: 0.25em; }

h1 {
  font-size: 28px;
  font-weight: 500; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0.5em 0; }

img {
  max-width: 100%; }

.rpgGoes {
  background-image: linear-gradient(var(--b-color), var(--color-blue));
  padding: 16px;
  padding-bottom: 80px;
  overflow-y: scroll; }
  .rpgGoes header {
    height: 32px;
    margin-bottom: 16px; }
    .rpgGoes header .pip {
      font-size: 14px;
      line-height: 32px;
      color: white; }
    .rpgGoes header .player {
      background-color: white;
      width: 56px;
      height: 32px;
      position: fixed;
      top: 16px;
      right: 0;
      border-radius: 1000px 0 0 1000px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04), 0 1px 3px rgba(0, 0, 0, 0.08); }
      .rpgGoes header .player img {
        width: 24px;
        height: 24px;
        margin: 4px;
        border-radius: 1000px; }
      .rpgGoes header .player i {
        display: block;
        width: 24px;
        margin: 4px;
        font-size: 16px;
        line-height: 24px;
        vertical-align: baseline;
        background-color: var(--b-color);
        border-radius: 1000px;
        color: white; }
  .rpgGoes .introTurn {
    display: block;
    max-width: 100%;
    padding: 16px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 12px 0 rgba(255, 255, 255, 0.2), 0 24px 0 rgba(255, 255, 255, 0.2); }
    .rpgGoes .introTurn .introTitle {
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-bottom: 1px dashed var(--cg-hex-pale-light); }
      .rpgGoes .introTurn .introTitle img.cover {
        border-radius: 8px; }
      .rpgGoes .introTurn .introTitle .tag li, .rpgGoes .introTurn .introTitle .subtag li {
        font-size: 14px;
        display: inline-block;
        margin-right: 0.5em; }
      .rpgGoes .introTurn .introTitle .tag li {
        color: var(--b-color); }
      .rpgGoes .introTurn .introTitle .subtag li {
        color: var(--cg-hex-pale-dark); }
    .rpgGoes .introTurn .caption {
      margin-bottom: 24px; }
      .rpgGoes .introTurn .caption p {
        font-size: 14px; }
    .rpgGoes .introTurn .inputBar {
      border: 1px solid var(--cg-hex-twilight-medium);
      background-color: var(--cg-hex-twilight-light);
      padding: 4px 16px;
      overflow: hidden;
      border-radius: 1000px;
      margin-left: 40px;
      margin-right: 40px; }
      .rpgGoes .introTurn .inputBar input {
        border: none;
        outline: none;
        box-shadow: none;
        background: none;
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
        text-align: center; }
        .rpgGoes .introTurn .inputBar input::placeholder {
          color: var(--cg-hex-grey-medium); }
    .rpgGoes .introTurn .selections {
      display: block; }
      .rpgGoes .introTurn .selections li {
        margin: 0 auto;
        margin-top: 24px;
        margin-bottom: 24px;
        background-color: var(--b-color);
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        display: block;
        width: 120px;
        line-height: 64px;
        border: 4px solid white;
        box-shadow: 0 2px 8px var(--cg-rgba-pale-light), 0 1px 3px var(--cg-rgba-twilight-medium);
        border-radius: 1000px; }
        .rpgGoes .introTurn .selections li:hover {
          animation: go 0.3s forwards; }
@keyframes go {
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }
  .rpgGoes .turn {
    display: block;
    width: 100%; }
    .rpgGoes .turn .turnTitle {
      color: white; }
      .rpgGoes .turn .turnTitle p {
        font-size: 14px; }
    .rpgGoes .turn.tyleA .turnTitle {
      padding: 8px 16px;
      background-color: rgba(255, 255, 255, 0.16);
      border-radius: 16px; }
    .rpgGoes .turn .selections {
      display: grid;
      margin: 1rem 0;
      grid-template-columns: 100%;
      grid-gap: 8px; }
      .rpgGoes .turn .selections li {
        box-shadow: 0 2px 8px var(--cg-rgba-twilight-dark), 0 1px 3px var(--cg-rgba-twilight-medium);
        border-radius: 16px;
        padding: 8px;
        color: var(--b-color);
        font-weight: 500;
        text-align: center;
        background-color: white; }
        .rpgGoes .turn .selections li img {
          border-radius: 8px;
          width: 100%; }
        .rpgGoes .turn .selections li.chosen {
          background-color: var(--b-color);
          border-color: var(--b-color);
          color: white; }
      .rpgGoes .turn .selections.gallary {
        grid-template-columns: calc(50% - 4px) calc(50% - 4px); }
        .rpgGoes .turn .selections.gallary li img {
          width: 100%;
          height: 100%;
          object-fit: cover; }

.messageBox {
  position: fixed;
  transform: translate(-50%, 0);
  left: 50%;
  width: 320px;
  z-index: 10001;
  padding: 16px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 2px 8px 0 var(--cg-rgba-twilight-dark), 0 1px 2px 0 var(--cg-rgba-twilight-medium);
  display: grid;
  grid-template-columns: 52px 224px;
  grid-column-gap: 12px; }
  .messageBox .mark {
    height: 52px;
    width: 52px;
    position: relative; }
    .messageBox .mark i {
      display: block;
      width: 52px;
      line-height: 52px;
      border-radius: 100px;
      font-size: 24px;
      background-color: grey;
      cursor: default; }
    .messageBox .mark .star {
      position: absolute;
      width: 100px;
      height: 8px;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%; }
      .messageBox .mark .star::before {
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        opacity: 0;
        transform: translate(-50%, -50%);
        left: 30%;
        top: 50%;
        border-radius: 1000px; }
      .messageBox .mark .star.i1 {
        transform: translate(-50%, -50%) rotate(0deg); }
        .messageBox .mark .star.i1::before {
          background-color: var(--color-blue); }
      .messageBox .mark .star.i2 {
        transform: translate(-50%, -50%) rotate(45deg); }
        .messageBox .mark .star.i2::before {
          background-color: var(--color-teal); }
      .messageBox .mark .star.i3 {
        transform: translate(-50%, -50%) rotate(90deg); }
        .messageBox .mark .star.i3::before {
          background-color: var(--color-green); }
      .messageBox .mark .star.i4 {
        transform: translate(-50%, -50%) rotate(135deg); }
        .messageBox .mark .star.i4::before {
          background-color: var(--color-yellow); }
      .messageBox .mark .star.i5 {
        transform: translate(-50%, -50%) rotate(180deg); }
        .messageBox .mark .star.i5::before {
          background-color: var(--color-orange); }
      .messageBox .mark .star.i6 {
        transform: translate(-50%, -50%) rotate(225deg); }
        .messageBox .mark .star.i6::before {
          background-color: var(--color-pink); }
      .messageBox .mark .star.i7 {
        transform: translate(-50%, -50%) rotate(270deg); }
        .messageBox .mark .star.i7::before {
          background-color: var(--color-purple); }
      .messageBox .mark .star.i8 {
        transform: translate(-50%, -50%) rotate(315deg); }
        .messageBox .mark .star.i8::before {
          background-color: var(--color-indigo); }
  .messageBox .text h1 {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px; }
  .messageBox .text p {
    margin-top: 4px;
    line-height: 24px;
    color: var(--cg-hex-grey-light); }
  .messageBox {
    animation: showMessageBox 2s forwards; }
@keyframes showMessageBox {
  0% {
    top: -100px;
    opacity: 0; }
  1% {
    top: -24px;
    opacity: 0; }
  15% {
    top: 24px;
    opacity: 1; }
  85% {
    top: 24px;
    opacity: 1; }
  99% {
    top: -24px;
    opacity: 0; }
  100% {
    top: -100px;
    opacity: 0; } }
@keyframes tadashiiStars {
  50% {
    left: 0px;
    opacity: 1;
    width: 12px;
    height: 12px; }
  99% {
    opacity: 0; }
  100% {
    opacity: 0;
    left: 0px; } }
  .messageBox.tadashii .mark i {
    background-color: var(--b-color); }
  .messageBox.tadashii .mark .star {
    display: block; }
    .messageBox.tadashii .mark .star::before {
      animation: tadashiiStars 0.5s forwards;
      animation-delay: 0.2s; }
  .messageBox.tadashii h1 {
    color: var(--b-color); }
  .messageBox.batsu i {
    background-color: var(--color-red);
    color: white; }
