&.questionList {

  .turnHead {

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 12px;
    }

    h1 {
      margin-top: 0.5em;
    }
  }

  .selection {
    background-color: white;
    cursor: pointer;

    &:hover {
      @include bgHover(var(--b-color), 0.3s);
      @include textColorHover(white, 0.3s);
    }


  }

  .abcd {
    margin: 12px 0;

    & {
      display: grid;
      grid-template-columns: calc(50% - 6px) calc(50% - 6px);
      grid-gap: 12px;

      @media only screen and (max-width: 600px) {
        grid-template-columns: 100%;
      }

      .selection {
        padding: 8px 12px;
        box-shadow: 0 2px 6px var(--cg-rgba-twilight-medium),
                    0 2px 2px var(--cg-rgba-twilight-medium),
                    0 0 1px var(--cg-rgba-twilight-dark);
        border-radius: 8px;
        text-align: center;
        color: var(--b-color);
        font-weight: 500;

        figure {
          margin: 0;
        }
      }
    }
  }

  @import "situations";
  @import "heading";
}
