.rpgGoes {
  background-image: linear-gradient(var(--b-color), (var(--color-blue)));
  padding: 16px;
  padding-bottom: 80px;
  overflow-y: scroll;

  header {
    $playerHight: 32px;
    $playerBtnSize: 24px;

    height: $playerHight;
    margin-bottom: 16px;

    .pip {
      font-size: 14px;
      line-height: 32px;
      color: white;
    }

    .player {
      background-color: white;
      width: 56px;
      height: $playerHight;

      position: fixed;
      top: 16px;
      right: 0;

      border-radius: 1000px 0 0 1000px;

      box-shadow: 0 2px 8px rgba(black, 0.04),
                  0 1px 3px rgba(black, 0.08);

      img {
        width: $playerBtnSize;
        height: $playerBtnSize;
        margin: ($playerHight - $playerBtnSize) / 2;
        border-radius: 1000px;
      }

      i {
        display: block;
        width: $playerBtnSize;
        margin: ($playerHight - $playerBtnSize) / 2;
        font-size: 16px;
        line-height: $playerBtnSize;
        vertical-align: baseline;

        background-color: var(--b-color);
        border-radius: 1000px;
        color: white;
      }
    }
  }

  .introTurn {

    display: block;
    max-width: 100%;

    // overflow-y: scroll;

    padding: 16px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 12px 0 rgba(white, 0.2),
                0 24px 0 rgba(white, 0.2);

    .introTitle {
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-bottom: 1px dashed var(--cg-hex-pale-light);

      img.cover {
        border-radius: 8px;
      }

      .tag, .subtag {
        li {
          font-size: 14px;
          display: inline-block;
          margin-right: 0.5em;
        }
      }

      .tag {
        li {
          color: var(--b-color);
        }
      }

      .subtag {
        li {
          color: var(--cg-hex-pale-dark);
        }
      }
    }

    .caption {
      margin-bottom: 24px;

      p {
        font-size: 14px;
      }
    }


    .inputBar {
      // box-shadow: 0 2px 8px var(--cg-rgba-twilight-dark),
      //             0 1px 3px var(--cg-rgba-twilight-medium);
      border: 1px solid var(--cg-hex-twilight-medium);
      background-color: var(--cg-hex-twilight-light);
      padding: 4px 16px;
      overflow: hidden;
      border-radius: 1000px;
      margin-left: 40px;
      margin-right: 40px;


      input {
        border: none;
        outline: none;
        box-shadow: none;
        background: none;
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;

        &::placeholder {
          color: var(--cg-hex-grey-medium);
        }
      }
    }


    .selections {
      display: block;

      li {
        margin: 0 auto;
        margin-top: 24px;
        margin-bottom: 24px;
        background-color: var(--b-color);
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: 500;

        display: block;
        width: 120px;
        line-height: 64px;

        border: 4px solid white;
        box-shadow: 0 2px 8px var(--cg-rgba-pale-light),
                    0 1px 3px var(--cg-rgba-twilight-medium);
        border-radius: 1000px;

        &:hover {
          animation: go 0.3s forwards;

          @keyframes go {
            0% {

            }

            50% {
              transform: scale(1.05);
            }

            100% {
              transform: scale(1);
            }
          }
        }
      }
    }
  }


  .turn {
    display: block;
    width: 100%;

    .turnTitle {
      color: white;

      p {
        font-size: 14px;
      }

      img {
        // margin: 0.5rem 0;
      }
    }

    &.tyleA {
      .turnTitle {
        padding: 8px 16px;
        background-color: rgba(white, 0.16);
        border-radius: 16px;
      }
    }

    .selections {
      display: grid;
      margin: 1rem 0;

      grid-template-columns: 100%;
      grid-gap: 8px;


      li {
        // border: 2px solid var(--cg-hex-twilight-medium);
        box-shadow: 0 2px 8px var(--cg-rgba-twilight-dark),
                    0 1px 3px var(--cg-rgba-twilight-medium);

        border-radius: 16px;
        padding: 8px;
        color: var(--b-color);
        font-weight: 500;
        text-align: center;

        background-color: white;

        img {
          border-radius: 8px;
          width: 100%;
        }

        &.chosen {
          background-color: var(--b-color);
          border-color: var(--b-color);
          color: white;
        }
      }

      &.gallary {
        grid-template-columns: calc(50% - 4px) calc(50% - 4px);

        li {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }


    }
  }
}
