#topNav {
  height: var(--topNavHeight);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  background-color: white;

  border-bottom: 1px solid var(--cg-hex-twilight-dark);

  .progressBar {
    height: 2px;
    background-color: var(--cg-hex-twilight-medium);
    position: absolute;
    width: 100%;
    bottom: 0;

    .progressNow {
      width: 0; // 这个地方要在 js 中控制其宽度
      transition: width 0.3s;
      height: 2px;
      background-color: var(--b-color);
    }
  }
}
